<template>
  <div class="consent-alert">
    <div class="message">
      <slot />
      <span
        class="link"
        @click="moreInfo"
      >
        {{ labels.link }}
      </span>
    </div>
    <div
      class="btn opt-out"
      @click="optOut"
    >
      <slot name="btn-decline">
        {{ labels.btn.optOut }}
      </slot>
    </div>
    <div
      class="btn opt-in"
      @click="optIn"
    >
      <slot name="btn-accept">
        {{ labels.btn.optIn }}
      </slot>
    </div>
  </div>
</template>

<style lang="scss">
  $borderColor: grey;
  $borderRadius: 3px;
  $borderWidth: 1px;
  $textColor: black;
  $textColorOnHover: white;

  .consent-alert {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
    max-width: 300px;
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: white;
    border: solid $borderWidth $borderColor;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px gray;
  }
  .message {
    flex-basis: 100%;
    order: 0;
    padding: 1em;
  }
  .link {
    color: #1565C0; /* Vuetify blue darken-3 */
    text-decoration: underline;
    cursor: pointer;
  }
  .btn {
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0;
    font-weight: bold;
    color: $textColor;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #F5F5F5; /* Vuetify grey lighten-4 */
    border: none;
    border-color: $borderColor;
    border-style: solid;

    /* stylelint-disable-next-line a11y/selector-pseudo-class-focus */
    &:hover {
      color: $textColorOnHover;
    }
  }
  .opt-out {
    order: 1;
    border-width: $borderWidth $borderWidth 0px 0px;
    border-bottom-left-radius: $borderRadius;

    /* stylelint-disable-next-line a11y/selector-pseudo-class-focus */
    &:hover {
      background-color: #F44336; /* Vuetify red */
    }
  }
  .opt-in {
    order: 2;
    border-width: $borderWidth 0px 0px;
    border-bottom-right-radius: $borderRadius;

    /* stylelint-disable-next-line a11y/selector-pseudo-class-focus */
    &:hover {
      background-color: #4CAF50; /* Vuetify green */
    }
  }
</style>

<script>
  export default {
    name: 'ConsentAlert',

    props: {
      labels: {
        type: Object,
        default() {
          return {
            btn: {
              optIn: 'Accept',
              optOut: 'Decline',
            },
            link: 'Read our privacy policy.',
          };
        },
      },
    },

    data() {
      return {};
    },

    methods: {
      moreInfo() {
        this.$emit('moreInfo');
      },
      optIn() {
        this.$emit('optIn');
      },
      optOut() {
        this.$emit('optOut');
      },
    },
  };
</script>
